
<!DOCTYPE html>
<html>
<head>

    <title>Test Create</title>

</head>
<body style="background-color: #eee">
    <aside class="navbar navbar-inverse" style="width: 300px; height: 100%; position: fixed; float: left; margin-top: 50px; border-radius: 0;border:none;">
        <div class="container-fluid">
            <ul class="nav nav-stacked" role="tablist">
                <li><a href="#/AddCourse">Add Course</a></li>
                <li><a href="#">Add Assistant</a></li>
                <li><a href="#/AddCourseEvent">Courses Calendar</a></li>
                <li><a href="#/Test">Course tests</a></li>
                <li><a href="#/Lesson">Course lessons</a></li>
                <li><a href="#/TestList">Course tests</a></li>
                <li><a href="#/CourseGroups">Course groups</a></li>
            </ul>
        </div>
    </aside>

    <div class="jumbotron" style="width:600px;text-align:center;margin:0 auto;">

        <!--
            Add test
        -->
        <div class="container">
            <h2>Add new course test</h2>
            <form class="form-horizontal" name="form" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Course for test</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="course" ng-model="course">
                            <option ng-repeat="course in allCourses" value={{course.id}}>
                                {{course.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Lesson for test</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="lesson" >
                            <option ng-repeat="lesson in allLessons | filter:{course:course}" value={{lesson.id}}>
                                {{lesson.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Test Title</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="testTitle" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Test Description</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="testDescription" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">End Date</label>
                    <div class="col-sm-10">
                        <input class="col-sm-12" type="date" id="deadlineDate" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Test Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="testPassword" type="text" required>
                    </div>
                </div>

                <h2>Add new question</h2>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Question</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="questionText" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Question Type</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="questionType" name="questionType">
                            <option value="SA">Single answer</option>
                            <option value="MA">Multiple answers</option>
                            <option value="TA">Text answer</option>
                        </select>
                    </div>
                </div>
                <div ng-switch="questionType">
                    <div ng-switch-when="SA">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Question option</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="questionOptionS" type="text" required>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center" style="margin-left:40%;">
                            <button class="btn btn-primary col-lg-11" ng-click="AddOption('S')"
                                    style="height:30px">
                                Add Option
                            </button>
                        </div>
                    </div>
                    <br />
                    <div ng-switch-when="MA">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Question option</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="questionOptionM" type="text" required>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center" style="margin-left:40%;">
                            <button class="btn btn-primary col-lg-11" ng-click="AddOption('M')"
                                    style="height:30px">
                                Add Option
                            </button>
                        </div>
                    </div>
                    <div ng-switch-when="TA">
                        Empty Text Box will be added
                    </div>
                </div>
                <br />
                <br />
                <div class="col-lg-4 text-center" style="margin-left:40%;">
                    <button class="btn btn-primary col-lg-11" ng-click="AddQuestion()"
                            style="height:30px">
                        Add Question
                    </button>
                </div>
                <br />
                <br />
                <div class="col-lg-4 text-center" style="margin-left:40%;">
                    <button class="btn btn-primary col-lg-11" ng-click="AddTest()"
                            style="height:30px">
                        Save Test
                    </button>
                </div>
                <br />
                <br />
                <div class="text-center">
                    <b ng-if="successfullySaved" style="color:green;padding-left:0px;">
                        Registration Successful!
                    </b>
                </div>
            </form>
        </div>
    </div>

    <div class="jumbotron" style="width:600px;text-align:center;margin:0 auto;" id="testFormat">

    </div>
</body>
</html>