<div class="col-sm-2" style="padding-left:0px; padding-right:0px; height:100%">
    <aside class="navbar navbar-inverse" style="height: 800px; height: 100%; position: fixed; float: left; margin-top: 50px; border-radius: 0; border: none; ">
        <div class="container-fluid">
            <ul class="nav nav-stacked" role="tablist">
                <li><a href="#/Personal">My Account</a></li>
                <li ng-if="$root.checkPermission('SuperUser')"><a href="#/UserPanel">User Panel</a></li>
                <li ng-if="$root.checkPermission('SuperUser')"><a href="#/Logs">Event Logs</a></li>
                <li ng-if="$root.checkPermission('SuperUser')"><a href="#/AddGlobalAnnouncement">Global Announcement</a></li>
            </ul>
        </div>
    </aside>
</div>
<div class="container col-sm-10" style="background-color:#eee;padding-top:50px; height:800px;">
    <br />
    <div class="text-center pusher-20" style="font-size:35px;padding-right:55px"><span class="glyphicon glyphicon glyphicon-eye-open"></span> Users panel</div>
    <div class="col-sm-12" style="max-height:500px; overflow-y:scroll">
        <table class="table table-striped" >
            <thead>
                <tr style="font-weight:bold">
                    <td>Username</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Email</td>
                    <td>Date joined</td>
                    <td>Last login</td>
                    <td>Is superuser</td>
                    <td>Is active</td>
                    <td>Is staff</td>
                    <td>Update</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in allUsers">
                    <td>{{user.username}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.date_joined}}</td>
                    <td>{{user.last_login ? user.last_login : ' - '}}</td>
                    <td>{{user.is_superuser}}</td>
                    <td>{{user.is_staff}}</td>
                    <td>{{user.is_active}}</td>
                    <td>
                        <a class="btn-link" ng-click="editUser(user)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 pusher-20">
        <div class="col-sm-12 ">
            <div class="pull-right">
                <button class="btn btn-success" ng-click="addUser()"> Add user </button>
            </div>
        </div>
    </div>
</div>
